/*
Colors used:
Primary Color (lightgrey): #FAFAFA;
Secondary Color (lightbeige): #F5F3F3;
Text color (coal): #3F4144
*/
* {
  box-sizing: border-box;
}

header {
  padding: 10px 0;
  position: fixed;
  width: 100%;
  background-image: radial-gradient(circle farthest-corner at 50.7% 54%, rgba(204, 254, 152, 1) 0%, rgba(229, 253, 190, 1) 92.4%);
}

html {
  height: 100%;
}

footer {
  background-image: radial-gradient(circle farthest-corner at 50.7% 54%, rgba(204, 254, 152, 1) 0%, rgba(229, 253, 190, 1) 92.4%);
}

body {
  background-color: #f8f8f8;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  color: #3f4144;
}

main {
  padding-top: 56px;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  line-height: 1.6;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
  line-height: 1.8;
}

h4 {
  font-size: 1.35em;
  font-weight: 600;
  line-height: 1.8;
}

h5 {
  font-size: 1.15em;
  font-weight: 600;
}

img {
  width: 100%;
}



/* CSS */
.button {
  display: inline-block;
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  color: #3F4144;
  cursor: pointer;
  display: flex;
  font-family: Poppins,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button:hover:after {
  transform: translate(0, 0);
}

.button:active {
  background-color: #ffdeda;
  outline: 0;
}

.button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button {
    padding: 0 40px;
  }
}

/* Layout styling*/
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.center {
  text-align: center;
}

.logo {
  max-width: 100px;
}

.nav {
  max-width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #4a4a4a;
}

#hero {
  background-image: radial-gradient(circle farthest-corner at 50.7% 54%, rgba(204, 254, 152, 1) 0%, rgba(229, 253, 190, 1) 92.4%);
  display: inline-block;
  width: 100%;
  text-align: center;
}

#about {
  padding: 0px;
  display: inline-block;
  width: 100%;
  text-align: left;
  background-color: #FFFFFF
}
#Projectsection {
background-color: #FFFFFF
}

[class*="col-"] {
  float: left;
  padding: 10px 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.headerstyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mathimage {
  padding-left: 110px;
}

.blurb {
  padding-left: 110px;
}

.titleinfo {
  padding-left: 110px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  padding-right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.responsive .headerstyle {
  align-items: flex-start;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav>ul>li {
    display: inline-block;
  }

  nav>ul {
    float: right;
    margin-top: 1em 0;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .col-md-6 {
    width: 50%;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

#berlin {
  width: 100%;
  max-width: 100%;
  height: auto;}

@keyframes color-change {0% {fill: #edc655;}
50% {fill: #fcffad;}
100% {fill: #f76414;}


/* ==============================
animation code
================================= */
.sun {
  animation: 4s color-change infinite alternate linear;}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
